/* ol */
.timeline 
{
	color:white;
	width:100%;
	text-align:justify;
	position:absolute;
	bottom:-5em;
	z-index:5;
}

.timeline:after
{
  display:inline-block;
  width:100%;
  content:' ';
}

.timeline li
{
  list-style:none;
  display:inline-block;
  width:90px;
  height:90px;
  overflow:hidden;
  border-radius:50px;
  margin:0 20px;
  cursor:pointer;
  
  transform:scale(0.8);
  transition:all ease-in 0.5s;
}

.timeline li img
{
  width:100px;
  height:100px;
  
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.timeline li:hover
{
  transform:scale(1);
}

.timeline li.active-is-true img
{
  border:1px solid white;
  
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  
}

