/* ol */
.timeline 
{
  display:block;
	color:white;
	width:100%;
	text-align:justify;
	bottom:-5em;
	z-index:5;
	padding:0 1em;
}

.timeline::after
{
  display:inline-block;
  width:100%;
  content:' ';
}

.timeline li
{
  list-style:none;
  display:inline-block;
  width:90px;
  height:90px;
  overflow:hidden;
  border:3px solid #999;
  border-radius:50px;
  margin:0 20px;
  cursor:pointer;
  
  transform:scale(0.8);
  transition:all ease-in 0.5s;
}

.timeline li img
{
  width:100px;
  height:100px;
  
  opacity:0.4;
  
  /* don't want filter anymore */
  /*
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  */
}

.timeline li:hover
{
  border:3px solid white;
  transform:scale(1);
}

.timeline li.active-is-true img
{
  opacity:1;
  
  /* don't want filter anymore */
  /*
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  */
}
