<div ng-include="'partials/navbar'"></div>
<div class="main-content" ng-controller="CarouselCtrl">
	<div class="featured-content">
		<carousel id="carousel">
			<slide ng-repeat="slide in slides" active="slide.active">
				<div class="image-container">
					<div class="share-overlay">
						<ul class="social-media-icons">
							<li class="facebook-icon">
								<a href="https://www.facebook.com/dialog/share?app_id=145634995501895
								  &display=popup				&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer"><span class="socicon socicon-facebook"></span></a>
							</li>
							<li class="twitter-icon">
								<a href="https://twitter.com/share?url=www.google.com"><span class="socicon socicon-twitter"></span></a>
							</li>
						</ul>
					</div>
					
					<img class="white-shadow" ng-src="{{slide.picURL}}">
				</div>
				
        <div class="featured-caption">
					<p class="featured-comment">{{slide.quote}}</p>
					<p class="featured-name">{{slide.folkName}}</p>
					<!-- <h4 ng-repeat = "tag in slide.hashTags">{{tag}}</h4> -->
        </div>
			</slide>
			
			<script id="template/carousel/carousel.html" type="text/ng-template">
					<div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
						
						<div class="carousel-inner" ng-transclude></div>
							<a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span></span></a>
							<a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1"><span></span></a>
							
							<div class="float-wrapper">
								<ol class="timeline slides-{{slides.length}}" ng-show="slides.length > 1">
									<li ng-repeat="slide in slides track by $index" ng-class="{active: isActive($parent.$parent.$parent.slides[$index])}" ng-click="select(slide)" class="active-is-{{$parent.$parent.slides[$index].active}}">
											<img width='50px' ng-src="{{$parent.$parent.sanitizeUrl($parent.$parent.$parent.slides[$index].picURL)}}" style="margin:auto;">
									</li>
								</ol>
							</div>
				    </div>
				
					
			</script>
		</carousel>
		
		
		<section class="tag-section">
			
			<div class="tag-icon">
				<img src="images/icons/comment.png" alt="" />
			</div>
			
			<h3 class="tag-question"> Your Gastown, Your Tags </h3>
			
			<div id="tag_container" class="tag-container">
				<p class="most-popular">Most Talked: </p>
				
	      <div class="btn-group" ng-repeat = "tag in hashTags" >
	        <a class="tag"  btn-checkbox ng-model="checkModel.tag" ng-click = "updateFilter(tag)">{{tag}}</a>
	      </div>
	    </div>

		
		  <!-- <div id="search_container">
		    <input type="text" ng-model="selected" typeahead="tag for tag in hashTags | filter:$viewValue | limitTo:8" class="form-control">
		  </div> -->
		</div>
	
	</section>

</div>
