<div ng-include="'partials/navbar'"></div>

<div class="main-content" ng-controller="CarouselCtrl">
	
	<h1 class="feature-title">Feature of the Week</h1>
	
	<div class="featured-content" ng-controller="CarouselCtrl">
		
		<carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active" >
				<img width='600px' height = '400px' ng-src="{{slide.picURL}}" style="margin:auto;">
        <div class="carousel-caption">
          <h2>{{slide.folkName}}</h2>
          <p>{{slide.quote}}</p>
          <h4 ng-repeat = "tag in slide.hashTags">{{tag}}</h4>
        </div>
			</slide>
		</carousel>
		<br>
    <br>
		<div id="tag_container" style= "text-align:center;">
      <div class="btn-group" ng-repeat = "tag in hashTags">
        <label  class="btn btn-primary" btn-checkbox ng-model="checkModel.tag">{{tag}}</label>
      </div>
    </div>
    <br>
    <br>
	
	</div>
</div>

   
